.bg1 {
  background-color: #f5d0fe;
  min-height: 100vh;
  width: 100vw;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg2 {
  background-color: white;
  min-height: 25vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vw;
}
.input1 {
  height: 30px;
}
.btn1 {
  background-color: #d946ef;
  color: white;
  height: 30px;
  border: 0px;
  padding: 3px;
  border-radius: 5px;
  margin-left: 2px;
}
.one12 {
  display: flex;
}
.para1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
}
.one11 {
  display: flex;
  min-height: 30px;
  flex-direction: column;
  justify-content: center;
}
